﻿@font-face {
    font-family: 'alkatip_torregular';
    src: url('../fonts/alkatip_tor-webfont.eot');
    src: url('../fonts/alkatip_tor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alkatip_tor-webfont.woff') format('woff'),
         url('../fonts/alkatip_tor-webfont.ttf') format('truetype'),
         url('../fonts/alkatip_tor-webfont.svg#alkatip_torregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    direction:rtl;
    font-family:'ALKATIP Tor','alkatip_torregular','ukij tuz tom','Microsoft Uighur';
    background-color: #348eda;
}

h1,h2,h3,h4,h5,h6,h7 {
font-family:'ALKATIP Tor tom','ukij tuz tom','ALKATIP Tor','alkatip_torregular';
}

.prayerColum{
    float:right;
}
.prayerPanel{
    height:100px;
    color: rgb(255, 255, 255);
    text-align:center;
    /*padding-top:20px;
    padding-bottom:20px;*/
    padding-left:5px;
    padding-right:5px;
    line-height:1.5;
    vertical-align:middle;
}

.date{
    width:262px;
    height:310px;
    margin-top:100px;
    margin-bottom:100px;
    background-color:#5bc0de;
    background-image:url(../Images/mosque-icon-252x300.png);
    background-position:bottom;
    background-repeat:no-repeat;
    color:rgb(255, 255, 255);
    
    margin-left:auto;
margin-right:auto;
}



.fajir{
/*background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81));*/

background-color: #2ECC71;
}

.sunRise{
    background-color:#F1C40F;
}

.zuhr{
    background-color:#E74C3C;
}
.asr{
    background-color:#E67E22;
}
.maghrib{
    background-color:#9B59B6;
}
.isha{
    background-color:#34495E;
}

.salahName{
    line-height:1.5;
}

.menuItem
{
    background-color: #fff;
    border: 1px solid #ddd;
    width:120px;
    padding-bottom:5px;
    padding-top:5px;
    padding-right:5px;
    cursor:help;
}

.menuItem:hover{
    background-color:#ddd;
    cursor:pointer;
}

.menuBox{
    position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 120px;
/*padding: 5px 0;*/
margin: 2px 0 0;
font-size: 14px;
list-style: none;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
/*border-radius: 0px;*/
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
background-clip: padding-box;
}

.faltButton
{
    background-color:#348eda;
    border-color:#ffffff;
    border-radius:0px;
    margin:5px;
    color:#ffffff;

    background-image: -webkit-linear-gradient(top,#348eda 0,#348eda 100%);
background-image: linear-gradient(to bottom,#348eda 0,#348eda 100%);
background-repeat: repeat-x;

}

.faltButton:hover
{
    background-color:#348eda;
    border-color:#ffffff;
    border-radius:0px;
    margin:5px;
    border-color:#ddd;
    color:#ffffff;

    background-image: -webkit-linear-gradient(top,#348eda 0,#348eda 100%);
background-image: linear-gradient(to bottom,#348eda 0,#348eda 100%);
background-repeat: repeat-x;

}

.prayerTimes {
   
}

.buttonRow{
    padding-left: 10px;
}

.globe {
width: 904px;
height: 764px;
background-image: url("/images/home-globe.png");
background-size: 904px 764px;
position: absolute;
z-index: 0;
right: -140px;
bottom: -170px;
-webkit-transform: perspective(600px);
-moz-transform: perspective(600px);
-ms-transform: perspective(600px);
-o-transform: perspective(600px);
transform: perspective(600px);
}

.map {
width: 100%;
height: 811px;
background-image: url("../images/uarMap_1.png");
background-size: 951px 811px;
background-position:right bottom;
background-repeat:no-repeat;

position: absolute;
z-index: -10;
right: 0px;
top: 0px;
-webkit-transform: perspective(600px);
-moz-transform: perspective(600px);
-ms-transform: perspective(600px);
-o-transform: perspective(600px);
transform: perspective(600px);
}
